@import "./variables";

#dropdownMenuButton {
  background-color: $purple-500 !important;
  color: $text;
  border: none;

  &:hover {
    background-color: $blue-light;
    color: #fff;
  }
}

.dropdown-item:hover {
  background-color: $primary-pale !important;
}
