// Cores base
$white: #ffffff;
$black: #000000;
$gray-100: #f4f6f8;
$gray-200: #f9fafb;
$gray-300: #eeeeee;
$gray-400: #969292;
$gray-500: #786289;
$gray-600: #6c3d9a;
$gray-700: #484646;
$gray-800: #333333;
$gray-900: #292929;
$gray-dark: #242424;
$gray-mid: #3c3b3b;

// Roxos
$purple-100: #f2d5ff;
$purple-200: #715989;
$purple-300: #7f24c6;
$purple-400: #321648;
$purple-500: #7c4dff;
$purple-600: #d093ff;

// Extras
$yellow: #dbac0d;
$primary: $purple-300;
$secondary: $purple-500;
