@import "../../abstract/variables";

.planos-page {
  background: var(--app-bg);
  color: var(--color-text);
  font-family: var(--font-family);

  .theme-switch {
    top: 20px;
    right: 20px;
    flex-direction: row;
    display: flex;
    background: var(--color-bg);
    gap: 8px;
    justify-content: end;
    padding: 10px 16px;
    border-radius: 14px;
    /* garante que fica por cima */
    .container-theme {
      display: flex;
      padding: 3px;
      border-radius: 10px;
      background-color: var(--surface-2);
      gap: 5px;
    }
    button {
      background: transparent;
      border: none;
      padding: 8px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 15px;
      color: var(--white);
      transition: 0.2s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button.active {
      background: var(--surface-hover);
    }

    button:hover {
      opacity: 0.8;
    }
  }
  .planos-header {
    background: var(--color-bg);
    padding: 32px 16px;

    h2 {
      font-size: 2.5rem;
    }

    p {
      max-width: 700px;
      margin: 0 auto;
      color: var(--color-text-muted);
    }
  }

  .planos {
    .plan-card {
      background: var(--surface-2);
      border: 1px solid var(--border-color);
      transition: all 0.3s ease;
      height: 100%;

      h4 {
        font-size: 1.3rem;
      }

      .price {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 8px 0;
        color: var(--color-purple);
      }

      .beneficios {
        list-style: none;
        padding: 0;
        margin: 16px 0;
        text-align: left;

        li {
          padding: 4px 0;
          border-bottom: 1px solid rgba(var(--white-rgb), 0.05);
          color: var(--color-text-muted);
          font-size: 14px;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      &.destaque {
        border: 2px solid var(--color-purple);
        transform: scale(1.03);
        background: var(--surface-3);
      }

      &:hover {
        box-shadow: 0 6px 18px rgba(var(--shadow-rgb), 0.3);
        transform: translateY(-4px);
      }
    }

    .botaoplano {
      background: none;
      border: 1px solid var(--color-purple);
      color: var(--color-purple);
      border-radius: 12px;
      padding: 8px 24px;
      font-weight: 600;

      &:hover {
        background: var(--color-purple-hover);
        color: var(--white);
      }
    }

    .botaoplano2 {
      background: var(--color-purple);
      color: var(--white);
      border-radius: 12px;
      padding: 8px 24px;
      font-weight: 600;

      &:hover {
        background: var(--color-purple-hover);
      }
    }
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .planos-header h2 {
    font-size: 2rem;
  }

  .planos .plan-card {
    margin-bottom: 16px;
  }
}
