@import "../../abstract/variables.scss";

.suporte-container {
  background: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
  padding: 32px 0;
  .theme-switch {
    top: 20px;
    right: 20px;
    flex-direction: row;
    display: flex;
    background: var(--color-bg);
    gap: 8px;
    justify-content: end;
    padding: 10px 16px;
    border-radius: 14px;
    /* garante que fica por cima */
    .container-theme {
      display: flex;
      padding: 3px;
      border-radius: 10px;
      background-color: var(--surface-2);
      gap: 5px;
    }
    button {
      background: transparent;
      border: none;
      padding: 8px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 15px;
      color: var(--white);
      transition: 0.2s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button.active {
      background: var(--surface-hover);
    }

    button:hover {
      opacity: 0.8;
    }
  }
  .suporte-header {
    margin-bottom: 32px;

    h1 {
      font-size: 2rem;
      font-weight: bold;
      color: var(--color-text);
    }

    p {
      color: var(--color-text-muted);
      font-size: 14px;
      margin-top: 8px;
    }
  }

  .botaosup {
    background: var(--surface-3);
    color: var(--white);
    border: none;
    padding: 8px 24px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: var(--color-purple-hover);
    }
  }

  .suporte-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
    margin-bottom: 32px;

    .suporte-card {
      background: var(--card-bg);
      border: 1px solid var(--border-color);
      border-radius: 12px;
      padding: 24px;
      text-align: center;
      box-shadow: 0 4px 10px rgba(var(--shadow-rgb), 0.3);

      i {
        font-size: 2rem;
        color: var(--color-purple);
        margin-bottom: 8px;
      }

      h3 {
        font-size: 20px;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        color: var(--color-text-muted);
        margin-bottom: 16px;
      }

      .btn-purple,
      .btn-outline-purple {
        width: 100%;
        padding: 8px;
        border-radius: 12px;
        font-weight: 600;
      }
    }
  }

  .suporte-faq {
    h2 {
      margin-bottom: 24px;
      color: var(--yellow);
    }

    .faq-item {
      margin-bottom: 16px;
      padding: 16px;
      background: var(--surface-2);
      border-radius: 6px;

      h4 {
        font-weight: 600;
        margin-bottom: 4px;
      }

      p {
        color: var(--color-text-muted);
      }
    }
  }
}
